<nav class="nav">
  <div class="nav-left">
    <%= link_to "items", items_path %>
    <%= link_to "books", books_path %>
  </div>
  <div class="nav-center">
    <%= link_to "inventory", { controller: "welcome" }, class: "brand" %>
  </div>
  <div class="nav-right">
    <a href="#">about</a>
  </div>
</nav>
<hr>