<h1>Personal inventory</h1>
<%= link_to 'Items', controller: 'items' %>
<%= link_to 'New item', new_item_path %>
<hr>
<%= link_to 'Books', controller: 'books' %>
<%= link_to 'New book', new_book_path %>
